@charset "utf-8";
html {
  scroll-behavior: smooth;
}
h2{
	color: #37535b;
}

section {
	padding: 50px 0px;
	min-height: 400px;
}

#hero {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#hero img{
 width: 100%;
 height: auto;
 min-height: 400px;
 min-width: 1250px;
}

#herotitle{
    position: absolute;
    top: 55%;
    left: 6%;
    font-size: xx-large;
}
#herosubtitle{
	position: absolute;
    top: 48%;
    left: 6%;
    font-size: x-large;
}
#herobtn {
    position: absolute;
    background-color: #42425e;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    left: 6%;
    top: 68%;
}

#herobtn:hover {
  background-color: black;
}


.shaded-section {
	background-color: #37535b;
}
.shaded-text{
	color: #FFFFFF;
}
.medium-padding {
	padding: 20px 0px;	
}

.shaded-section-grey {
	background-color: #3e3e3e;
}

