@charset "utf-8";
body {
    background-color: rgba(148,148,148,1.00);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, li {
    margin: 4px;
    text-align: center;
    font-family: Arial;
}


a {
    color: #037CFB;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}




#container {
    width: 1200px;
    margin: 0px auto;
    background-color: rgba(255,255,255,1.00);
}

#Banner {
    background-color: rgba(23,72,174,1.00);
    text-align: center;
    width: auto;
    height: auto;
}


#highlights {
    padding: 0px 20px;
    clear: both;

}


#highlights #high-greece {
    width: 280px;
    margin-right: 10px;
    float: left;
    margin-top: 0px;
}
#highlights #high-ireland {
    width: 280px;
    margin-right: 10px;
    float: left;
}
#highlights #high-costa {
    width: 280px;
    float: left;
}
#highlights #high-australia {
    width: 280px;
    margin-right: 20px;
    float: left;
}
#navigation {
    height: 30px;
    width: 1200px;
    text-align: center;
    padding-top: 10px;
    margin-left: 200px;
}
#navigation a  {
    display: block;
    float: left;
    margin-bottom: 0;
	color: rgba(242,144,19,1.00);
    width: 150px;
    margin-right: 15px;
}
#navigation a:Visited  {
    display: block;
    float: left;
    margin-bottom: 0;
    width: 150px;
    margin-right: 15px;
}
#navigation a:Hover  {
    display: block;
    float: left;
	background-color: #1748AE;
	color: #FFFFFF;
    margin-bottom: 0;
    width: 150px;
    margin-right: 15px;
}


#main_copy {
    padding: 20px;
}
#main_copy #header {
    color: rgba(23,72,174,1.00);
    text-align: center;
    font-weight: bold;
}
#main_copy #header3 {
    color: rgba(242,144,19,1.00);
    text-align: center;
}
#main_copy #main-text {
    font-size: 13px;
    text-align: center;
}


#footer {
    background-color: rgba(23,72,174,1.00);
    padding: 4px;
    color: rgba(255,255,255,1.00);
    font-size: x-small;
    text-align: center;
}
.text-left {
    text-align: left;
}
#main_copy #sideimg {
    float: right;
}
