<!DOCTYPE html>
<html>
<body  id ="body-core"  height="100%" >
    <div class="DisplayBlock">
        <p></p>
        <h1 align="center">Who is Camel Tow Autobody?</h1>

        <hr id="hr-split" />


        <h2 id="header-test" style="max-width:50%">Our Philosophy</h2>
        <div class="containerTest">
            <div class="text2">
                Our team at Camel Tow Autobody knows that customers aren’t just looking for someone to fix their vehicle. They’re looking for a mechanic that genuinely cares about them and consistently provides reliable and trustworthy service. We’ve been in the business of providing high quality auto repair and customer service for 6 years. Our approach to customer relationship is what separates us from other mechanics. We know that the number one reason a customer returns is because we made them feel welcome and at home in our shop. Every member of our team shares the same goal of ensuring that our customers leave feeling valued and that we really paid attention to them and their vehicle. As mechanics, fixing the car is assumed – the difference is how our customers feel when doing business with us.
            </div>
            <img src="https://media.brstatic.com/2016/12/21171501/most-drivers-dont-trust-auto-repair-shops-mst.jpg" />
            <div class="clear2"></div>
        </div>

        <hr id="hr-split" />

        <h2 id="header-test2" style="max-width:50%">Mechanics You Can Trust</h2>
        <div class="containerTest2">
            <img src="http://usedwisconsincars.com/wp-content/uploads/2016/08/automotive-repair-service.jpg" />

            <div class="text3">
                Our team of experienced mechanics perform high quality repair work at a fair price. Integrity and honesty are at the top of our list when quoting and completing auto repair work. Our team is always available to answer questions and provide useful maintenance tips. We stress consistent maintenance over repair work to save our customers money in the long run. Simple maintenance is much cheaper than huge repairs, and it takes less time. We find that many of the most expensive repairs we complete are a result of overdue maintenance.
            </div>
            <div class="clear2"></div>
        </div>


        <hr id="hr-split" />

        <h2 id="header-test" style="max-width:50%">Professionally Owned & Operated</h2>
        <div class="containerTest3">
            <div class="text4">
                Open officially since August of 2014, our independent automotive service center has a solid reputation, built on expertise, honesty, and impeccable service. With certified professionals, Camel Tow Autobody is known for doing superior work in a timely and efficient manner. Our commitment to our customers is absolute, as we place their needs and safety first.
                <br /><br />
                Combing exceptional skill and knowledge with advanced technology and techniques, we make sure that when your vehicle comes back to you, you want to come back to Camel Tow Autobody! Keeping up to date on training, technology, and techniques is necessary to stay ahead in this business and that is fundamental at Camel Tow Autobody. When it comes to comprehensive service and repairs, we are proud to be the preferred choice of drivers who desire a higher level of commitment to excellence.
            </div>
            <img src="https://lh3.googleusercontent.com/proxy/3ypkW_Pe9Qw_0r6MdwbZxinWi_6QTWc3rEyof0NDXTCvcnBdUbP5lxCeGhfhF929H_HaonPHrHW6YPIXFzB5Byz3zq56gqE9K95OgRjXCot_zZNgJDJm15PQmNX3ae1PSx5IQGqtiMz4dJ8OzfP4hGQJ1BXCK4iluRIA" />
            <div class="clear2"></div>
        </div>



    </div>
</body>
</html>