<asp:content ID="xContent" ContentPlaceHolderID="headContent" runat="server">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
</asp:content>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beans</title>
</head>
<body >
    <div class="BlockTest">
        <h2>Kyler is the bean lord</h2>
        <p>He smell of bean</p>
        <p>Sacrifice his bean-baby</p>
        <p>Kyler shall brign upon us the great bean war of 2020. His actions will set the world in chaos. His goat will feed the peasants with its milky cheese.</p>
        <div class="BlockTest">
            <h2>BEAN LORD VERSE 2:20</h2>
            <p>LET THERE BE BEAN</p>
            <img src="http://4.bp.blogspot.com/-qGZcjjsGQD8/TtZbsxwTK4I/AAAAAAAADUs/VpCP1Gp9VpE/s1600/giant+lima+2.jpg"/>
        </div>
    </div>

</body>
</html>
