<!DOCTYPE html>
<html>
<body  id ="body-core"  height="100%">
    <div class="DisplayBlock" >
        <p align="center">
            <img src="~/Content/Imgs/logo.png" height="200" width="200">
        </p>
        <h1 align="center">Camel Tow AutoBody</h1>
        <p align="center" class="lead">
            Get top-notch auto repair services today at Camel Tow Autobody. From AC repair to transmission services, our goal is to offer expert auto repairs at an affordable price. We are conveniently located near you in State College. Come by our shop in State College or call today to schedule an appointment at 012-345-6789.
        </p>

        <hr id="hr-split" />

        <h2 align="center">We support most car brands!</h2>
        <div class="row">
            <table align="center">
                <tr>
                    <th>
                        <ul>
                            <li>Acura</li>
                            <li>Audi</li>
                            <li>BMW</li>
                            <li>Buick</li>
                            <li>Cadillac</li>
                            <li>Chevrolet</li>
                            <li>Lincoln</li>
                            <li>Mazda</li>
                            <li>Mercedes</li>
                            <li>Mercury</li>
                            <li>Mini Cooper</li>
                            <li>Mitsubishi</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>Chrysler</li>
                            <li id="li-test">Scion</li>
                            <li>Ford</li>
                            <li>Dodge</li>
                            <li>GMC</li>
                            <li>Honda</li>
                            <li>Hyundai</li>
                            <li>Nissan</li>
                            <li>Oldsmobile</li>
                            <li>Pontiac</li>
                            <li>Saab</li>
                            <li>Saturn</li>
                        </ul>
                    </th>
                    <th>
                        <ul>
                            <li>Infiniti</li>
                            <li>Jaguar</li>
                            <li>Jeep</li>
                            <li>Kia</li>
                            <li>Land Rover</li>
                            <li>Lexus</li>
                            <li>Subaru</li>
                            <li>Suzuki</li>
                            <li>Toyota</li>
                            <li>Volkswagen</li>
                            <li>Volvo</li>
                            <li>Ram</li>
                        </ul>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>