@charset "utf-8";

/* 
Yellow sub theme
	Yellow: 	   #D9D162
	Darker Yellow: #BFB169
	Grey-Blue:     #405B73
	Dark Blue:     #141726
	Light Red:     #A6374B
	Cream:         #FEE5CA
	Light pink:    rgba(244,154,192,.4);
*/

/*--default tag styling--*/
body {
    background-color: #BFB169;
}

h1, h2 {
	padding: 6px;
	color: #A6374B;
	margin: 8px;
	font-family: "Georgia";
	text-decoration:underline;
} 

ul {
	display: table;
	margin: 0 auto;
	margin-left: 470px;
	padding: 6px;
}

li {
	color: #141726;
	text-align: left;
}

/*--Single use styling--*/
#container {
    padding: 6px 8px;
    background-color: #D9D162;
    width: 1200px;
    margin: auto;
    border-radius: 4px;
    height: auto;
}

#intro {
	background-color: #FEE5CA;
	border-radius: 6px;
	padding: 4px;
	margin: 4px auto;
	border-style: solid;
	border-width: 2px;
	border-color: #A6374B;
}

#legacy {
	background-color: #FEE5CA;
	border-radius: 6px;
	padding: 4px;
	margin: 4px auto;
	border-style: solid;
	border-width: 2px;
	border-color: #A6374B;
}

#innovation {
	background-color: #FEE5CA;
	border-radius: 6px;
	padding: 4px;
	margin: 4px auto;
	border-style: solid;
	border-width: 2px;
	border-color: #A6374B;
}

#lps {
	background-color: #FEE5CA;
	border-radius: 6px;
	padding: 4px;
	margin: 4px auto;
	border-style: solid;
	border-width: 2px;
	border-color: #A6374B;
}

#badge {
    padding: 2px;
	margin-top: -170px;
	margin-left: 10px;
    border-radius: 300px;
	border-style: dashed;
	border-width: 2px;
	border-color: #A6374B;
    float: left;
}

/*--Shared styling--*/
.basicpara {
	padding: 6px;
	font-size: 20px;
	color: #141726;
	font-family: "Georgia";
}

.split {
    height: 1px;
	border-radius: 50px;
	border-color: #A6374B;
	background-color: #A6374B;
	color: #A6374B;
	
}

.portrait {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
	border-style: dashed;
	border-width: 2px;
	border-color: #405B73;
    display: block;
}

.quoteblock {
	padding: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: #A6374B;
	background-color: rgba(244,154,192,.4);
	border-radius: 2px;
	margin-left:  50px;

}

.quote {
    color: #1B3240;
}
